<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
  <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="/home"><span class="fa fa-users"></span> Mohit<span class="dashboard_text">Design dashboard</span></a></h1>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <a href="/home">
            <i class="fa fa-dashboard"></i> <span>Home</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/admin">
            <i class="fa fa-edit"></i><span>Admin</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/getadminprocess">
            <i class="fa fa-table"></i> <span>Admin Tables</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/category">
            <i class="fa fa-edit"></i><span>Category</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/getcategoryprocess">
            <i class="fa fa-table"></i> <span>Category Tables</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/product">
            <i class="fa fa-edit"></i><span>Product</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/getproductprocess">
            <i class="fa fa-table"></i> <span>Product Tables</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/user">
            <i class="fa fa-edit"></i><span>User</span>
            </a>
          </li>
          <li class="treeview">
            <a href="/getuserprocess">
            <i class="fa fa-table"></i> <span>User Tables</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  </nav>
</aside>
</div>